body{
  background: #000 url("../imgs/background.png") repeat-y;
  background-size: cover;
}

#mm-table{
  border: 1px black solid;
}

td{
  border: 1px black solid;
  width: 100px;
  height: 100px;
}

#answer, #options{
  margin: 0 auto;
}

/*Answer*/
#answer-content{
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  -ms-transform: scale(0.5,0.5);
  -webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
}

#answer{
  border: 2px red solid;
}

.answer-peg:hover{
  background-position: 0;
}

/*Game Board*/
.game{
  position: relative;
  margin: 0 auto;
}

#board{
  margin: -375px auto 0 auto;
  -ms-transform:     rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform:         rotate(90deg);
}

#board-body{
}

.empty-space{
  background: #000 url("../imgs/space-lrg.png") no-repeat;
  border: none;
}

/*Indicator Board*/

#correctness-container{
  width: 100px;
  margin-top: -350px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  -ms-transform:     rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform:         rotate(90deg);
}

#correctness-board{
  position: absolute;
  top: -600px;
}



.indicator-row{
}


.indicator-space{
  background: #000 url("../imgs/space-small.png") no-repeat;
  border: none;
  width: 50px;
  height: 50px;
}

.indicator-row div:nth-child(odd){
  float:left;
}

.indicator-row div:nth-child(even){
  float:right;
}

/*Peg id's*/
.peg-selectors{
  display: inline-block;
}

.peg-guess{
  -ms-transform:     rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform:         rotate(270deg);
}

#aqua{
  background: #000 url("../imgs/aqua.png") no-repeat ;
}

.options-content #aqua:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

#black{
  background: #000 url("../imgs/black.png") no-repeat ;
}

.options-content #black:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

#blue{
  background: #000 url("../imgs/blue.png") no-repeat ;
}

.options-content #blue:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

#green{
  background: #000 url("../imgs/green.png") no-repeat ;
}

.options-content #green:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

#orange{
  background: #000 url("../imgs/orange.png") no-repeat ;
}

.options-content #orange:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

#purple{
  background: #000 url("../imgs/purple.png") no-repeat ;
}

.options-content #purple:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

#red{
  background: #000 url("../imgs/red.png") no-repeat ;
}

.options-content #red:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

#yellow{
  background: #000 url("../imgs/yellow.png") no-repeat ;
}

.options-content #yellow:hover{
  background-position: 0 -100px;
  cursor: pointer;
}

/*Correctness Pegs*/
#dark-red{
  background: red url("../imgs/dark-red.png");
  width:  50px;
  height: 50px;
  -ms-transform:     rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform:         rotate(270deg);
}

#white{
  background: #fff url("../imgs/white.png");
  width:  50px;
  height: 50px;
  -ms-transform:     rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform:         rotate(270deg);
}

/*Options*/
.options-content{
  position: absolute;
  width: 100%;
  margin: 75px auto 0 auto;
}

