body{
  /*text-align: center;*/
  background: #000 url("../imgs/background.png") repeat-y;
  background-size: cover;
}

.game{
  position: relative;
}

#answer{
  border: 2px red solid;
}

#mm-table{
  border: 1px black solid;
}

td{
  border: 1px black solid;
  width: 100px;
  height: 100px;
}

#answer, #options{
  margin: 0 auto;
}

#board{
  position: abolute;
  margin: 0 auto;
  /*display: inline-block;*/
  /*float:left;*/
  /*left: 25em;*/
}

#correct{
  display: inline-block;
  /*float: right;*/
}


